.home-card-container {
  padding: 15px;
  width: 90%;
  max-width: 700px;
}
.home-card-description {
  font-family: 'Roboto';
  color: #f1f5f9;
}
.find-jobs-button {
  color: #ffffff;
  font-family: 'Roboto';
  background-color: #6366f1;
  border: none;
}
@media (max-width: 767px) {
  .home-bg-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/home-sm-bg.png');
    height: 100vh;
    background-size: cover;
  }
  .home-card-description {
    font-size: 18px;
  }
  .home-card-heading {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 23px;
    color: #ffffff;
  }
  .find-jobs-button {
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
  }
}
@media screen and (min-width: 768px) {
  .home-bg-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
    height: 100vh;
    background-size: cover;
  }
  .home-card-description {
    font-size: 24px;
  }
  .home-card-heading {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 65px;
    color: #ffffff;
  }
  .find-jobs-button {
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    cursor: pointer;
  }
}
